<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/049/718/961/non_2x/buffalo-cartoon-graphics-for-t-shirt-designs-free-png.png">
    <title>Pagina dos animais</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <h1>bufalo</h1>
    <a class="button-link left-button" href="tartaruga_page.html">Anterior</a>
    <div id="content">
        <div id="center-content">
            <div id="text-about">
                <h2>Búfalos</h2>
                <p>Os búfalos são animais fascinantes, pertencentes a duas espécies principais: o búfalo-africano (<i>Syncerus caffer</i>) e o búfalo-da-Ásia (<i>Bubalus bubalis</i>). O búfalo-africano é encontrado principalmente na África, enquanto o búfalo-da-Ásia é frequentemente domesticado e comum na Ásia. Esses animais preferem habitats como savanas, pântanos e pastagens, vivendo em manadas que demonstram uma estrutura social complexa. Búfalos são herbívoros e se alimentam de gramíneas, folhas e vegetação aquática, possuindo um sistema digestivo adaptado para processar vegetação fibrosa. Os búfalos são conhecidos por seu comportamento social e cooperativo. Eles se protegem mutuamente de predadores, como leões e crocodilos, formando laços fortes dentro de suas manadas.</p>
            </div>
            <img src="/public/img/img_bufalo.jpg" alt="">
        </div>
    </div>
    <a class="button-link right-button" href="esquilo_page.html">Próximo</a>
    
</body>
</html>