<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.vexels.com/content/281818/preview/chipmunk-animals-dd53fc.png">
    <title>Pagina dos animais</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <h1>bufalo</h1>
    <a class="button-link left-button" href="bufalo_page.html">Anterior</a>
    <div id="content">
        <div id="center-content">
            <div id="text-about">
                <h2>Esquilos</h2>
                <p>Os esquilos são pequenos mamíferos da família Sciuridae, conhecidos por suas caudas longas e peludas e por sua agilidade. Eles são encontrados em diversas partes do mundo, incluindo florestas, parques e áreas urbanas. Os esquilos são geralmente classificados em três categorias: esquilos terrestres, esquilos arborícolas e esquilos voadores. Sua dieta é predominantemente herbívora, composta por nozes, sementes, frutas e ocasionalmente insetos. Esquilos são conhecidos por suas habilidades de escalar árvores e saltar entre galhos, o que os ajuda a escapar de predadores e encontrar alimentos. Além de serem adoráveis e curiosos, eles desempenham um papel importante no ecossistema, contribuindo para a dispersão de sementes. Apesar de sua natureza brincalhona, os esquilos enfrentam ameaças como perda de habitat e predadores, mas são adaptáveis e muitas vezes se adaptam bem à vida urbana.</p>
            </div>
            <img src="/public/img/img_esquilo.jpg" alt="">
        </div>
    </div>
    <a class="button-link right-button" href="tartaruga_page.html">Próximo</a>
    
</body>
</html>