<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f422.png">
    <title>Pagina dos animais</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <h1>bufalo</h1>
    <a class="button-link left-button" href="esquilo_page.html">Anterior</a>
    <div id="content">
        <div id="center-content">
            <div id="text-about">
                <h2>Tartarugas</h2>
                <p>As tartarugas são répteis pertencentes à ordem Testudines, conhecidas por seus corpos em forma de casco, que as protegem de predadores. Elas habitam uma variedade de ambientes, incluindo oceanos, rios, lagos e terras secas. Existem duas principais categorias: tartarugas marinhas e tartarugas terrestres. As tartarugas marinhas, como a tartaruga-de-pente, são adaptadas para a vida no mar, enquanto as tartarugas terrestres, como a tartaruga-gigante, vivem em ambientes terrestres. Esses animais são herbívoros ou onívoros, dependendo da espécie, e possuem uma dieta que varia de plantas aquáticas a pequenos invertebrados. As tartarugas têm um ritmo de vida lento e podem viver muitas décadas, com algumas espécies chegando a mais de 100 anos. Infelizmente, muitas tartarugas enfrentam ameaças devido à poluição, perda de habitat e caça, levando a várias espécies a estarem em perigo de extinção. A conservação é essencial para proteger esses animais únicos e seu habitat.</p>
            </div>
            <img src="/public/img/img_tartaruga.jpg" alt="">
        </div>
    </div>
    <a class="button-link right-button" href="bufalo_page.html">Próximo</a>
    
</body>
</html>